@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Libre Baskerville';
    src: url('./fonts/LibreBaskerville-Regular.ttf') format('opentype');
}

.new-amsterdam-regular {
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #242424;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.boldtheme {
    font-family: 'Built Titling', sans-serif;
    color: black;
}

.progress-bar {
    height: 7px;
    border-radius: 10px; 
    background-color: #bbbbbb;
}

.gradient-text {
    background: linear-gradient(to right, #736EFE, #5EFCE8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
}

.custom-search-wrapper {
    position: relative;
    display: inline-block;
}

.custom-search {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding-right: 2.5rem; /* Space for the custom arrow */
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    padding-right: 2.5rem; /* Space for the custom arrow */
}

.custom-arrow {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    pointer-events: none; /* Make sure it doesn't block click events */
    color: oklch(var(--bc)); /* base-content */
    font-size: 1.1rem; 
}