@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Libre Baskerville';
    src: url('./fonts/LibreBaskerville-Regular.ttf') format('opentype');
}

.boldtheme {
    font-family: 'Built Titling', sans-serif;
    color: black;
}

.progress-bar {
    height: 7px;
    border-radius: 10px; 
    background-color: #bbbbbb;
}

.gradient-text {
    background: linear-gradient(to right, #736EFE, #5EFCE8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}